@charset "utf-8";
/* CSS Document */

{
	margin:0;
	padding:0;
}

.contenedor{
	width:100%;
	max-width: 1000px;
	border-radius: 1em;

	
}
h1{
	text-align: center;
}

 
body{
	font-family:"Arial";
	
}

.main{
	height: 70%;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 1em;
		
}
.main img{
	width:100%;
	height: auto;
	border-radius: 1em;
	margin:20px 0;

}
.main video{
	width:100%;
	height: auto;
	border-radius: 1em;
	margin:20px 0;

}

.main audio{
	width:100%;
	height: auto;
	border-radius: 1em;
	margin:20px 0;

}

header{
	height: 10%;
	border-radius: 1em;
	margin:20px 0;
}

nav{
	height: 10%;
	width:100%;
	border-radius: 1em;
	margin:20px 0;
	float: left;

}

#section{
	height: 70%;
	width:47%;
	background:#C5EAEF;
	padding; 10px;
	border-radius: 1em;
	float: left;
}
#aside{
	width:47%;
	height: 60%;
	background:#C5EAEF;
	padding: ; 20px;
	box-sizing: border-box;
	border-radius: 1em;
	float: right;	
	
}
footer{
	width: 96.5%;
	float: left;
	padding: 2em;
	display: block;
	margin-top: 20px;
	box-sizing: border-box;
	padding: 2em;
	color: #E10509;
	border-radius: 1em;
	margin:20px;
	background-color: #C5EAEF;
	font color: white;
	font-size: 0.8em;
	
	
}
		